PORT=3000
ENVIRONMENT=production

ETH_NODE_URL="https://ethereum-rpc.publicnode.com"
BSC_NODE_URL="https://bsc-rpc.publicnode.com"
TRX_NODE_URL="https://tron-rpc.publicnode.com"
ARB_NODE_URL="https://arbitrum-one-rpc.publicnode.com"
POL_NODE_URL="https://polygon-bor-rpc.publicnode.com"
AVA_NODE_URL="https://avalanche-c-chain-rpc.publicnode.com"
OPT_NODE_URL="https://optimism-rpc.publicnode.com"
BAS_NODE_URL="https://base-rpc.publicnode.com"
CEL_NODE_URL="https://rpc.ankr.com/celo"
SOL_NODE_URL="https://api.mainnet-beta.solana.com"
SRB_NODE_URL=...soroban rpc node...
STLR_NODE_URL=https://horizon.stellar.org
NETWORKS=["ETH","BSC","TRX","ARB","POL","AVA","OPT","BAS","CEL","SOL","SRB","STLR"]