WEB3_PROVIDER_URL=<PROVIDER_URL>
ETH_PRIVATE_KEY=<PRIVATE_KEY>
ETH_ACCOUNT_ADDRESS=<ACCOUNT_ADDRESS>
ETH_POOL_ADDRESS=<POOL_ADDRESS>
ETH_TOKEN_ADDRESS=<RECEIVE_TOKEN_ADDRESS>

POL_WEB3_PROVIDER_URL=<PROVIDER_URL>
POL_PRIVATE_KEY=<PRIVATE_KEY>
POL_ACCOUNT_ADDRESS=<ACCOUNT_ADDRESS>
POL_POOL_ADDRESS=<POOL_ADDRESS>
POL_TOKEN_ADDRESS=<RECEIVE_TOKEN_ADDRESS>

TRONWEB_PROVIDER_URL=<PROVIDER_URL>
TRX_PRIVATE_KEY=<PRIVATE_KEY>
TRX_ACCOUNT_ADDRESS=<ACCOUNT_ADDRESS>
TRX_POOL_ADDRESS=<POOL_ADDRESS>
TRX_TOKEN_ADDRESS=<RECEIVE_TOKEN_ADDRESS>
SENT_TX_ID=<SENT_TX_ID>

SOL_PROVIDER_URL=<PROVIDER_URL>
SOL_ACCOUNT_ADDRESS=<ACCOUNT_ADDRESS>
SOL_PRIVATE_KEY=<PRIVATE_KEY>
SOL_TOKEN_ADDRESS=<TOKEN_ADDRESS>
SOL_SPONSOR_ADDRESS=<SPONSOR_ADDRESS>
SOL_TX_MEMO=<MEMO_TEXT>

SRB_ACCOUNT_ADDRESS=<ACCOUNT_ADDRESS>
SRB_PRIVATE_KEY=<PRIVATE_KEY>
SRB_NODE_URL=<NODE_URL>
STLR_NODE_URL=<HORIZON_NODE_URL>
SRB_NETWORK_PASSPHRASE=<PASSPHRASE>
SRB_TOKEN_ADDRESS=<TOKEN_ADDRESS>
STELLAR_TRUSTLINE_LIMIT=<TRUSTLINE_LIMIT>

SUI_ACCOUNT_ADDRESS=<ACCOUNT_ADDRESS>
SUI_PRIVATE_KEY=<PRIVATE_KEY>
SUI_PROVIDER_URL=<PROVIDER_URL>
SUI_TOKEN_ADDRESS=<TOKEN_ADDRESS>
SUI_BASE_TX=<BASE_TX_JSON_OR_B64>
SUI_INPUT_COIN=<INPUT_COIN_JSON>

ALG_PROVIDER_URL=<PROVIDER_URL>
ALG_ACCOUNT_ADDRESS=<ACCOUNT_ADDRESS>
ALG_PRIVATE_KEY=<PRIVATE_KEY>
ALG_TOKEN_ADDRESS=<TOKEN_ADDRESS>
ALG_OPT_IN_ID=<ASSET_OR_APP_ID>
ALG_OPT_IN_TYPE=<asset|app>

STX_ACCOUNT_ADDRESS=<ACCOUNT_ADDRESS>
STX_TOKEN_ADDRESS=<TOKEN_ADDRESS>

REST_API_URL=<REST_API_URL>
